<div class="new-booking">
  <% if flash[:alert] %>
    <div id="alert">
      <%= flash[:alert] %> 
    </div>
  <% end %>
  <%= render 'booking_form' %>
  <button><%= link_to 'Restart Search', root_path, :data => {:confirm => "Are you sure?"} %>
