<h2>New Booking Form</h2>

<% if flash[:alert] %>
      <div id="alert">
         <%= flash[:alert] %> 
      </div>
<% end %>

<%= render 'booking_form' %>
<br>
<button><%= link_to 'Restart Flight Search', root_path %>
