<div class="booking-confirmation">
  <h3>Booking Confirmation</h3>

  <% if flash[:alert] %>
    <div id="alert">
      <%= flash[:alert] %> 
    </div>
  <% end %>
  
  <div>
    <%= render 'passenger_info' %>
    <%= render 'flight_info' %>
  </div>
  <button><%= link_to 'New Search', root_path %>
</div>