<h2>Booking Confirmation</h2>

<% if flash[:alert] %>
      <div id="alert">
         <%= flash[:alert] %> 
      </div>
<% end %>

<%= render 'passenger_info' %>
<%= render 'flight_info' %>

<br>
<br>

<button><%= link_to 'Search another flight', root_path %>