/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
   font-family: Helvetica, sans-serif
 }

 h2 {
   text-transform: lowercase;
   font-size: 35px;
   color: #f87171
 }

 h3 {
   text-transform: lowercase;
   font-size: 28px;
   color: #2563eb;
 }

 .flight-index {
   background-color: #cbd5e1;
   display: grid;
   justify-items: center;
   padding-bottom: 20px;
 }

 .flights-form ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .flights-form li + li {
   margin-top: 1em;
 }

 label {
   display: inline-block;
   width: 90px;
   text-align: right;
 }

 button {
   padding-left: 90px;
 }

 .flights-form-field label {
   color: blue;
   padding-right: 10px;
 }

 .flights-form-field select {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   min-width: 240px;
   padding-left: 15px;
 }

 .flights-form-button {
   display: grid;
   justify-items: center;
 }

 .flights-form-button input {
   background-color: black;
   color: white;
   border: 1px solid black;
   border-radius: 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   margin-top: 1em;
   margin-left: .5em;
   width: 250px;
 }

 .flights-results ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .flights-results li {
  white-space: nowrap; 
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
 }

 .flights-results input {
   justify-self: end;
 }

 .flights-results li + li {
   margin-top: 1em;
 }

 .flights-results label {
   justify-self: center;
 }

.flights-results-button {
  display: grid;
  justify-items: center;
}

 .flights-results-button input {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 1em;
  margin-left: .5em;
  width: 250px;
 }