/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
   font-family: Helvetica, sans-serif;
   background-color: #0c7bdc;
 }

 h2 {
   text-transform: lowercase;
   font-size: 35px;
 }

 h3 {
   text-transform: lowercase;
   font-size: 28px;
   text-decoration: underline white;
   color: #0f172a;
   margin: 25px;
 }

 .navbar {
   display: flex;
   justify-content: space-around;
 }

 .logo {
   flex-shrink: 0;
   font-size: 48px;
   font-weight: bold;
 }

 .logo a {
   text-decoration: none;
   color: white;
 }

 .flight-index {
   background-color: #FFA424;
   display: grid;
   justify-items: center;
   padding-bottom: 20px;
 }

 .flights-form ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .flights-form li + li {
   margin-top: 1em;
 }

 .flights-form label {
   display: inline-block;
   width: 90px;
   text-align: right;
 }

 .flights-form img {
  margin-right: 10px;
  margin-bottom: -5px;
 }

 button {
   padding-left: 90px;
 }

 .flights-form-field select {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 16px;
   min-width: 180px;
   padding-left: 15px;
 }

 .flights-form-button {
   display: grid;
   justify-items: center;
 }

 .flights-form-button input {
   background-color: #0f172a;
   color: white;
   border: 1px solid #0f172a;
   border-radius: 25px;
   font-size: 20px;
   margin-top: 25px;
   padding: 2px;
   width: 175px;
 }

.flights-results {
  font-size: 20px;
}

 .flights-results ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .flights-results li {
  white-space: nowrap; 
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
 }

 .flights-results input[type="radio"] {
   justify-self: center;
   align-self: center;
   transform: scale(1.2);
   margin-bottom: 3px;
 }

 .flights-results li + li {
   margin-top: 1em;
 }

 .flights-results label {
   justify-self: center;
 }

.flights-results-button {
  display: grid;
  justify-items: center;
}

 .flights-results-button input {
  background-color: #0f172a;
  color: white;
  border: 1px solid #0f172a;
  border-radius: 25px;
  font-size: 20px;
  margin-top: 25px;
  padding: 2px;
  width: 175px;
 }

 .new-booking {
  background-color: #FFA424;
  display: grid;
  justify-items: center;
  padding-bottom: 20px;
  font-size: 18px;
 }

.new-booking button {
   background-color: #0f172a;
   color: white;
   border: 1px solid #0f172a;
   border-radius: 25px;
   font-size: 20px;
   margin-top: 25px;
   padding: 2px;
   width: 175px;
}

.new-booking button a {
  text-decoration: none;
  color: white;
}

.booking-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid black;
  margin: 15px;
}

.booking-passenger-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid black;
  margin: 15px;
  margin-bottom: 25px;
}

.booking-submit {
  display: grid;
  justify-items: center;
}

.booking-submit input {
  background-color: #0f172a;
  color: white;
  border: 1px solid #0f172a;
  border-radius: 25px;
  font-size: 20px;
  padding: 2px;
  width: 175px;
}

.passenger-name-field {
  margin-top: 1em;
}

.booking-confirmation {
  display: grid;
  justify-items: center;
  background-color: #FFA424;
  padding-bottom: 20px;
}

 .booking-confirmation button {
  background-color: #0f172a;
  color: white;
  border: 1px solid #0f172a;
  border-radius: 25px;
  font-size: 20px;
  padding: 2px;
  width: 175px;
 }

.booking-confirmation button a {
  text-decoration: none;
  color: white;
}

.confirmed-passenger-info {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 14px;
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid black;
  margin: 15px;
  align-items: center;
  font-size: 18px;
}

.passenger-info-number {
  grid-column: 1 / 3;
  font-size: 20px;
}

.confirmed-flight-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid black;
  margin: 15px;
  margin-bottom: 25px;
  font-size: 18px;
}

#alert {
  color: #0f172a;
  background-color: white;
  padding: 15px;
  font-size: 18px;
  border-radius: 25px;
  border: 2px solid black;
}
